@font-face {
  font-family: Rationale;
  font-display: swap;
  src:
    url('../fonts/Rationale-Regular.woff2') format('woff2'),
    url('../fonts/Rationale-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: RubikMoonrocks;
  font-display: swap;
  src:
    url('../fonts/RubikMoonrocks-Regular.woff2') format('woff2'),
    url('../fonts/RubikMoonrocks-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}
